<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  </head>
  <body>
    <h1> Hi <%= @user.user_name%> </h1>
    <p>
      Sample Email sent using smtp.
    </p>
  </body>
</html>
