<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  </head>
  <body>
   <h1> Thank you</h1>
    <p>
      Thanks for creating an account with <em>Urban Sherpa</em>. The world awaits you, <%= @user.user_name%>! Get Exploring!
    </p>
  </body>
</html>
