<div class = "card bg-light signInCard">
  <span class="caret"></span>
  <div class= "card-body form-group">
  <h1>Sign in</h1>
  <%= form_tag signin_path do %>
    <p><span class="sign_in_title">Email</span></p>
    <span class="sign_in"><%= text_field_tag :email %></span>
    <br>
    <p><span class="sign_in_title">Password</span></p>
    <span class="sign_in"><%= password_field_tag :password%></span>
    <br>
    <br>
    <span class="sign_in"><%= submit_tag "Sign in", :class => "btn btn-success" %></span>
  <% end %>
  </div>
</div>
