
<div class = "card signInCard">
  <div class= "card-body form-group">
  <h1 class="signInUp">Sign in</h1>
  <%= form_tag signin_path do %>
    <p>Email</p>
    <%= text_field_tag :email %>
    <br>
    <p>Password</p>
    <%= password_field_tag :password%>
    <br>
    <br>
    <%= submit_tag "Sign in", id: "sign_in_button", :class => "btn btn-success" %>
  <% end %>
  </div>
</div>
