<div class ="row">
  <div class = "col-4-md">
    <div class = "card">
        <div class = "card-body">
        <% @tours.each do |tour| %>
        <h1><%= tour.title %></h1>
          <p><%= tour.description %></p>
          <p><%= tour.price %></p>
          <% end %>
        </div>
    </div>
  </div>
</div>
