<div id="container">
    <div class="photobanner">
      <h1>What is Urban Sherpa?</h1>
     <img class="first_image" src="image1.jpg" alt="" />
     <img src="../banner/image2.jpg" alt="" />
     <img src="../banner/image3.jpg" alt="" />
     <img src="../banner/image4.jpg" alt="" />
     <img src="../banner/image5.jpg" alt="" />
     <img src="../banner/image6.jpg" alt="" />
     <img src="../banner/image1.jpg" alt="" />
     <img src="../banner/image2.jpg" alt="" />
     <img src="../banner/image3.jpg" alt="" />
     <img src="../banner/image4.jpg" alt="" />
    </div>
    <div class="about">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacus ex, hendrerit vel faucibus sit amet, tincidunt a arcu. Sed consequat euismod diam. Nunc at dui rhoncus, convallis purus ac, cursus sem. Pellentesque elementum vehicula faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nisi lectus, porttitor in dolor eu, tincidunt molestie tellus. Aliquam ultricies laoreet pharetra. Maecenas laoreet massa non justo posuere, a vestibulum lacus gravida. Vivamus id scelerisque velit. Curabitur non risus egestas, hendrerit justo aliquam, suscipit lacus. Donec id molestie libero. Nullam rhoncus enim ut lacus dignissim, at feugiat neque viverra.</p>

      <p>Etiam vitae ipsum ex. Fusce quis dolor non neque pharetra ullamcorper. Fusce in viverra dolor. Fusce auctor ac odio et convallis. Sed viverra leo in arcu blandit blandit. Suspendisse aliquet ligula leo, et bibendum nunc volutpat bibendum. Nullam at eros in tortor tempus tristique sed non mauris. Nunc viverra justo in placerat porta.</p>

      <p>Morbi elementum blandit libero et consequat. Proin dapibus lacus sit amet dolor fermentum, id posuere erat fermentum. Donec tempor sem sed lacinia vulputate. Aenean fermentum felis sed orci vehicula vestibulum. Nunc pulvinar molestie leo tincidunt lacinia. Proin scelerisque at tellus quis tincidunt. Vivamus vitae nulla in leo ornare lacinia. Nam iaculis ligula dignissim tortor finibus, ac fringilla turpis mattis. Donec nisi velit, viverra sed risus ut, laoreet tincidunt justo. Morbi consequat eleifend erat vel dictum. Phasellus aliquet non sem non tempor. Aliquam porttitor aliquet dolor, nec ullamcorper urna sollicitudin eget. Aliquam eget venenatis magna.</p>
    </div>
</div>
