/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 <body class="<%= controller.controller_name%>">
 */

 @import "bootstrap";
 a:link {
   color: #263238;
 }

 a:visited {
   color: #263238 ;
 }

 a:hover {
   color: #34515e;
 }

 a:active {
   color: #607d8b;
 }
 .signUp{
   margin-top: 20px;
   text-align: center;
 }
 .signIn{
   margin-top:50px;
 }
h1{
  font-family: 'Open Sans', sans-serif;
  text-shadow: 20%;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.tour_img{
  border-radius: 40px;
}

.avatar{
  border-radius: 40px;
}

.tour_card{
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: auto;
  border-radius: 10px;
}

.signUpCard{
  width: 600px;
  margin-top: 40px;
  margin: 80px auto;
  position: fixed;
}

#main_body{
  background-image: url("http://www.publicdomainpictures.net/pictures/170000/velka/holiday-1463128399PLs.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.comment{
  padding: 20px;
  border-radius: 10px;
}

.back{
  text-align: center;
}

.pay{
  text-align: center;
  margin-top: 80px;
  padding:10px;
}

.navbar{
  position:fixed;
  z-index: 9;
}

.navbar-nav li{
  margin-left:20px;
  margin-right:20px;
  margin-top:-20px;
}

.tour_title{
  margin-top: 20px;
}

.price{
  float: right;
}

.profile{
  list-style:none;
}

.profile > li{
  margin-left: 10px;
}

.alert_notice{
  max-width: 33%;
  margin-top: 50px;
  margin-left: 500px;
}

#notice{
  color: green;
}

#alert{
color: red;
}

.displayComment{
  display:none;
}

#dropdown_login{
  display:none;
  margin-left:160px;
  margin-top: 0px;
  position:fixed;
  z-index:8;
}

#guide_tour{
  width: 600px;
  margin-top: 40px;
  margin: 80px auto;
}

#tour_filter{
  float: right;
  margin-bottom: 20px;
  margin-top:-10px;
}
.cart_display{
  margin-top: 80px;
}
.remove_item{
  text-decoration: underline;
}
