/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 <body class="<%= controller.controller_name%>">
 */

 @import "bootstrap";
//about page banner
 .first_image {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

.photobanner {
 height: 233px;
 width: 3550px;
 margin: 80px;
}

.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

.photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: pointer;

 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

#container{
width: 1000px;
 overflow: hidden;
 margin: 50px auto;
 background: white;
}

.about{
  margin: 40px;
}
// end of banner

.pay_rec{
  margin-top: 70px;
}
 a:link {
   color: #263238;
 }

 a:visited {
   color: #263238;
 }

 a:hover {
   color: #34515e;
 }

 a:active {
   color: #607d8b;
 }
 .signUp{
   margin-top: 20px;
   text-align: center;
 }
 .signIn{
   margin-top:50px;
 }
h1{
  font-family: 'Open Sans', sans-serif;
  text-shadow: 20%;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.tour_img{
  border-radius: 40px;
}

.avatar{
  border-radius: 40px;
}

.tour_card{
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: auto;
  border-radius: 10px;
}

.signUpCard{
  width: 600px;
  margin-top: 40px;
  margin: 80px auto;
}

#main_body{
  background-image: url("http://www.publicdomainpictures.net/pictures/170000/velka/holiday-1463128399PLs.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.comment{
  margin-top: 65px;
  padding: 20px;
  border-radius: 10px;
}

.comment-display p{
  padding: 40px;
}

.back{
  text-align: center;
}

.pay{
  text-align: center;
  margin-top: 80px;
  padding:10px;
}

.navbar{
  position:fixed;
  z-index: 9;
  width:100%;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
  margin-top:-20px;
}

.tour_title{
  margin-top: 20px;
}

.price{
  float: right;
}

.profile{
  list-style:none;
  margin-top: 75px;
  margin-bottom: 30px;
}

.alert_notice{
  max-width: 50%;
  margin-top: 60px;
  position:fixed;
  z-index:7;
  list-style:none;;
}

.displayComment{
  display:none;
}

#dropdown_login{
  display:none;
  margin-left:160px;
  margin-top: 0px;
  position:fixed;
  z-index:8;
}
#map{
  margin-top: 80px;
}
.tour_details{
  margin-top: 80px;
  margin-bottom: 20px;
}
#dropmenu_items {
  margin-left: 55px;
  margin-top: -13px;
}
#user_nav_drop{
  margin-top: -15px;
}

#tour_filter{
  float: right;
  margin-top: 60px !important;
}

.cart_display{
  margin-top: 80px;
}

.remove_item{
  text-decoration: underline;
}

.guide_tour{
  width: 600px;
  margin-top: 40px;
  margin: 80px auto;
}

.edit_comment{
  width: 600px;
  margin-top: 40px;
  margin: 80px auto;
}

.edit_comment .form-control{
  width: 92%;
}
