<div class = "card pay_rec">
  <h2>Thanks For Choosing Urban Sherpa!</h2>
    <img class="jump" src="../thanksImg/wahoo.gif" alt="Thank You! JUMP!JUMP!JUMP!" />
  <h3>Your Tour cost was: <strong><%= number_to_currency @amount %></strong>!</h3>
  <h4><%= link_to "Back To Tours", tours_path %> </h4>
</div>
